page {
  background: #f0f5fb;
  color: #bdbdbd;
  font-size: 30rpx;
}
.red {
  color: #e83b13 !important;
}
.blue {
  color: #076eca !important;
}
.zt_666 {
  color: #666 !important;
}
.zt_333 {
  color: #333 !important;
}
.zt_b3 {
  color: #b3b3b3 !important;
}
.zt_000 {
  color: #000 !important;
}
.zt_green {
  color: #5bc240 !important;
}
.zt_link, .zt_blue {
  color: #1089db !important;
}
.bg-blue {
  background: #199ed8 !important;
}
.bg-red {
  background: #e83b13 !important;
}
image {
  width: auto;
  height: auto;
  display: block;
}
.red {
  color: #e83b13 !important;
}
.blue {
  color: #076eca !important;
}
.link {
  color: #1089db !important;
  text-decoration: underline;
}
input {
  display: inline-block;
}
.btn {
  padding: 0 25rpx;
  line-height: 42rpx;
  background: #5bc240;
  color: #fff;
  display: inline-block;
  font-size: 24rpx;
  border-radius: 3px;
  width: 150rpx;
  height: 60rpx;
  line-height: 60rpx;
}
.b-btn {
  color: #fff;
  height: 88rpx;
  font-size: 34rpx;
  margin-top: 50rpx;
  margin-left: 25rpx;
  margin: 50rpx 25rpx 25rpx 25rpx;
  background-color: rgba(91, 194, 64, 1);
}
.popup_bj {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
